---
# See ../DEPENDENCIES.md#workaround-for-other-dependencies
name: Dependabot hack
on:  # yamllint disable-line rule:truthy
  push:
    branches:
      - never-trigger-this-dependabot-hack-workflow

jobs:

  dependabot_hack:
    name: Ensure dependabot version checks
    runs-on: ubuntu-20.04
    steps:    
      # Dockerfile:
      - uses: azure/bicep@v0.39.26

      - uses: azure/azure-cli@azure-cli-2.81.0

      - uses: mikefarah/yq@v4.49.2

      - uses: geofffranks/spruce@v1.31.1

      - uses: Azure/azure-storage-azcopy@v10.31.0

      - uses: tfutils/tfenv@v3.0.0
      
      - uses: kubernetes/kubernetes@v1.28.3
      
      - uses: helm/helm@v3.19.3

      - uses: Azure/kubelogin@v0.2.13

      - uses: pulumi/pulumi@v3.210.0

      # ci/bicep-cli.yml:
      - uses: docker/cli@v24.0.6
